* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    line-height: 1.7em;
    color: #7f8c8d;
    font-size: 13px;
}

.is-center {
    text-align: center;
}

.pull-right{
    float: right;
}


.header {
    width: 100%;
    padding: 0 15% 0 15%;
    background-color: rgb(241, 238, 238);
    position: fixed;
}

.pure-menu-heading {
    font-size: 2em;
    padding: 0.7em;
}

.pure-menu-list {
    font-size: 1.5em;
    float: right;
    padding: 0.5em 0 0.5em;
}

.pure-menu a {
    color: rgb(51, 58, 63);
}

.pure-menu a:hover,
.pure-menu a:focus {
    background: none;
    border: none;
}

.pure-menu-item a:hover,
.pure-menu-item a:focus {
    color: rgb(155, 146, 145);
}

.content {
    padding-top: 6em;
    padding-bottom: 6em;
}


.footer {
    position: fixed;
    background-color: #fff;
    bottom: 0;
    width: 100%;
    padding: 1em;
    border-top: #7f8c8d solid 0.5px;
}

.post {
    padding-bottom: 2em;
}
.post-title {
    font-size: 2em;
    color: #222;
    margin-bottom: 0.2em;
}
.post-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}
.post-description {
    font-family: Georgia, "Cambria", serif;
    color: #444;
    line-height: 1.8em;
}
.post-meta {
    color: #999;
    /* font-size: 90%; */
    margin: 0;
}

.post-category {
    margin: 0 0.1em;
    padding: 0.1em 1em;
    color: #fff;
    background: rgb(196, 195, 195);
    font-size: 80%;
}